@import "./customization/variablesLibrary.less";
@import "./randomStyles.less";


* {
    margin: 5%;
    padding: 5%;
}


body {
    background-color: @base-bg;
}

h1 {
    color: @base-color;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: @font-size;
}
